---
import Portfolio from "../layouts/Portfolio.astro";
import { flutterList, webList } from "../scripts/projects_list";
import ProjectCard from "../components/ProjectCard.astro";
import { projHasSpan } from "../scripts/project";
import LinkH2 from "../components/LinkH2.astro";
import InlineLink from "../components/InlineLink.astro";
---

<!-- Projects -->
<Portfolio
  pageTitle="My Works"
  pageUrl="/works"
  header="From Concept to Reality: Creativity Meets Results - See What We’ve Built Together"
  pageDescription="Here are some of the projects I have worked on. I am always looking for new opportunities to work on exciting projects. Feel free to reach out to me if you have any questions or would like to work together."
>
  <div class="space-y-10">
    <!-- stack -->
    <div>
      <LinkH2 text="My Tech Stack" , id="tech-stack" />
      <p>
        In addition to my extensive expertise in <InlineLink
          target="_blank"
          ,
          href="https://flutter.dev/"
          ,
          text="Flutter"
        /> development, I have ventured into various technologies and frameworks,
        to create a diverse range of projects. <strong
          >My proficiency extends to Java, Python, Tailwind CSS, Express JS (For
          APIs), Node JS, Typescript, Astro, JavaScript, Django, PHP, C, C++,
          Arduino among others.</strong
        > These ventures demonstrate my versatility, adaptability across different
        platforms and commitment to delivering innovative solutions. Here are some
        notable projects that highlight my skills beyond Flutter:
      </p>
    </div>

    <!-- flutter -->
    <div>
      <LinkH2 text="Flutter Projects" , id="flutter" />
      <div class="flex flex-col space-y-10">
        {
          flutterList.map((project, index) => {
            // is even
            const isThird = index % 2 === 0;

            //  has span
            const hasSpan = projHasSpan(project);

            // span
            const col_span = hasSpan
              ? project.span
              : isThird
                ? "md:col-span-2"
                : "md:col-span-1";

            return (
              <ProjectCard
                span={col_span}
                project={project}
                isImageLeft={isThird}
              />
            );
          })
        }
      </div>
    </div>

    <!-- web -->
    <div>
      <LinkH2 text="Web" , id="web" />
      <div class="flex flex-col space-y-10">
        {
          webList.map((project, index) => {
            // is even
            const isThird = index % 2 === 0;

            //  has span
            const hasSpan = projHasSpan(project);

            // span
            const col_span = hasSpan
              ? project.span
              : isThird
                ? "md:col-span-2"
                : "md:col-span-1";

            return (
              <ProjectCard
                span={col_span}
                project={project}
                isImageLeft={isThird}
              />
            );
          })
        }
      </div>
    </div>

    <!-- design -->
    <div>
      <LinkH2 text="UX Design" , id="ux-design" />
      <p>
        In addition to my expertise in Cross-Platform App Development with
        Flutter, I am deeply immersed in the realm of UI/UX design. Here are
        some of my standout projects created using Figma, showcasing my
        commitment to crafting visually appealing, user-centric interfaces:
      </p>
      <div class="ml-8 mt-2 space-y-2">
        <li>
          <InlineLink
            target="_blank"
            href="https://www.figma.com/file/p1PsTwseY0P8zew4cW9M5U/Olum-Version-1-(Final)?type=design&node-id=0%3A1&mode=design&t=dHDjIEQ6pk61xXMG-1"
            ,
            text=" Olum App"
          /> (Mobile App)
        </li>
        <li>
          <InlineLink
            target="_blank"
            href="https://www.figma.com/file/PkrFTMQHWdE7oHONSGRS9i/EAC_HCPI?type=design&node-id=0%3A1&mode=design&t=mKyWeqnDo71Clx8O-1"
            ,
            text="EAC_HCPI App"
          /> (Mobile App)
        </li>
        <li>
          <InlineLink
            target="_blank"
            href="https://www.figma.com/file/KjRHMTjszC7qndny0i2S8e/STTS-Sahel-Mobile-App-UX-Design?type=design&node-id=0%3A1&mode=design&t=vFoTh9mNR9dwOQ78-1"
            ,
            text="STTS Sahel Mobile App"
          /> (Mobile App)
        </li>
        <li>
          <InlineLink
            target="_blank"
            href="https://www.figma.com/design/W2TVKvgk4OOc58zd5VsB0h/ICT4Farmers-App?node-id=0-1&t=LXNLibwCL5wJDh8a-1"
            ,
            text="ICT4Farmers Mobile App"
          /> (Mobile App)
        </li>
        <li>
          <InlineLink
            target="_blank"
            href="https://www.figma.com/file/zAMNGqIcTmOo2xq3tJjSu6/ORACLE-CODELAB-DESKTOP-AND-MOBILE-UI?type=design&node-id=0%3A1&mode=design&t=qT96BEOF0XCdZSZQ-1"
            ,
            text=" Oracle Codelabs redesign"
          /> (Mobile and Web)
        </li>
        <li>
          <InlineLink
            target="_blank"
            href="https://www.figma.com/file/eQoWrGAOyD9HtwXMq4NxAy/UTB-Project?type=design&node-id=0%3A1&mode=design&t=pkwXF2WjwODHJH0v-1"
            ,
            text="UTB Web Dashboard"
          /> (Web)
        </li>
        <li>
          <InlineLink
            target="_blank"
            href="https://www.figma.com/file/SxBDT2vUWOI4TWIHmYfBQI/KinderCare-Web?type=design&node-id=0%3A1&mode=design&t=lOie3vaK2qezQVnL-1"
            ,
            text="Kindercare Website"
          /> (Web)
        </li>
      </div>
    </div>
  </div>
</Portfolio>
