---
import type { CommunityContribution } from "../scripts/community";
import ArticleTags from "./ArticleTags.astro";
import ArticleFooter from "./ArticleFooter.astro";

// props with contribution
interface Props {
  contribution: CommunityContribution;
  bg?:string;
  span?:string;
}

const { contribution, bg = "border-xephas-navy bg-xephas-navy/5" , span } = Astro.props;

// get all contribution parameters
const title = contribution.event_title;
const date = contribution.date;
const location = contribution.location;
const highlight = contribution.highlight;
const categories = contribution.categories;
const description = contribution.description;
const cover_image = contribution.cover_image;
const col_span = span ?? contribution.col_span;
---

<!-- article 1 -->
<article
  class=`transition-all flex flex-col ${col_span} duration-300 group rounded-lg w-full hover:cursor-pointer`
>
  <!-- image -->
  <div class="w-full  aspect-auto overflow-hidden">
    <img
      src={cover_image}
      alt={title}
      class=`rounded-t-lg bg-xephas-navy/5 w-full  object-contain`
    />
  </div>

  <!-- contents -->
  <div
    class=`transition-all duration-300 pl-4 pr-4 flex-col p-3 group-hover:border-2 border rounded-b-lg content-center ${bg} group-hover:bg-xephas-white group-hover:border-opacity-100 border-opacity-5 items-start justify-between text-left`
  >
    <header>
      <!-- tags -->
      <ArticleTags tags={categories} highlight={highlight} location={location} />

      <!-- title -->
      <div class="mt-2">
        <h1
          class="mt-2 text-4xl group-hover:text-xephas-navy font-bold group-hover:underline group-hover:font-extrabold"
        >
          {title}
        </h1>

        <p
          class="mt-2 text-md text-xephas-blue group-hover:text-xephas-black font-bold"
        >
          <time>{date}</time>
        </p>
      </div>
    </header>

    <!-- description -->
    <div class="mt-2 text-sm">
      <p>
        {description}
      </p>
    </div>

    <!-- footer -->
    <ArticleFooter contribution={contribution} />
  </div>
</article>
