---
// Props (parameters) type declaration
interface Props {
  text: string;
  id: string;
  align: string;
}

const { id, text, align = "text-left" } = Astro.props;

const href = `#${id}`;
---

<!-- link,h3 -->
<h2
  class=`text-3xl transition-all  ${align} mt-6 mb-3 font-extrabold text-xephas-navy`
  id={id}
>
  <a class="group hover:cursor-pointer" href={href}>
    <span class="group-hover:underline">{text}</span>

    <span class="ml-2 opacity-0 group-hover:underline group-hover:opacity-100"
      >#</span
    >
  </a>
</h2>
