---
import { projHasImage, type Project } from "../scripts/project";
import ArticleTags from "./ArticleTags.astro";
import ProjectFooter from "./ProjectFooter.astro";
import ProjectTags from "./ProjectTags.astro";

// props with project
interface Props {
  project: Project;
  bg?:string;
  span:string;
  isImageLeft: boolean;
}

const { project, bg = "border-xephas-navy bg-xephas-navy/5" , span, isImageLeft  } = Astro.props;


// get all project parameters
const title = project.title;
// const date = project.;
// const location = project.location;
const tech_stack = project.tech_stack;
const platforms = project.platform;
const description = project.description;
const cover_image = project.cover_image;
const col_span = span;
const hasImage = projHasImage(project);

const hasLeftImage  = isImageLeft;
const isImageRight = !isImageLeft;
// const hasLeftImage  = hasImage && isImageLeft;
// const isImageRight = !isImageLeft && hasImage;
---

<!-- article 1 -->
<!-- class=`transition-all flex flex-col ${col_span} duration-300 group rounded-lg w-full hover:cursor-pointer` -->
<article
  class=`transition-all  flex flex-col md:flex-row ${col_span} duration-300 group rounded-lg w-full hover:cursor-pointer`
>
  <!-- image -->
  {hasLeftImage && (
  <div class="w-full rounded-lg overflow-hidden md:w-1/2 h-full">
    <img
      src={cover_image}
      alt={title}
      class=`rounded-l-lg bg-xephas-navy/5 w-full h-auto`
    />
  </div>
  )}

  <!-- contents -->
  <div
    class=`md:w-1/2 ${isImageLeft? "md:ml-2": "md:mr-2"} ${isImageLeft? "mt-2 md:mt-0" : "mb-2 md:mb-0"} transition-all duration-300 pl-4 pr-4 flex-col p-3 group-hover:border-2 border rounded-lg content-center ${bg} group-hover:bg-xephas-white group-hover:border-opacity-100 border-opacity-5 items-start justify-between text-left`
  >
    <header>
      <!-- tags -->
      <ProjectTags tags={platforms}  />

      <!-- title -->
      <div class="mt-2">
        <h1
          class="mt-2 text-4xl group-hover:text-xephas-navy font-bold group-hover:underline group-hover:font-extrabold"
        >
          {title}
        </h1>

        <p
          class="mt-2 text-md text-xephas-blue font-bold"
        >
          {tech_stack.map((stack, index) => { return ` • ${stack}`; })}
        </p>
      </div>
    </header>

    <!-- description -->
    <div class="mt-2 text-sm">

      <p>
        {description}
      </p>
    </div>

    <!-- footer -->
    <ProjectFooter project={project} />
  </div>

   <!-- image -->
  { isImageRight && (
   <div class="w-full rounded-lg overflow-hidden md:w-1/2">
     <img
       src={cover_image}
       alt={title}
       class=`rounded-l-lg bg-xephas-navy/5 w-full`
     />
   </div>
   )}
</article>
