---

import type { CommunityContribution } from "../scripts/community";
import ArticleFooter from "./ArticleFooter.astro";
import ArticleTags from "./ArticleTags.astro";

// props with contribution
interface Props {
  contribution: CommunityContribution;
}

const { contribution } = Astro.props;

// get all contribution parameters
const title = contribution.event_title;
const date = contribution.date;
const location = contribution.location;
const categories = contribution.categories;
const description = contribution.description;
const cover_image = contribution.cover_image;
// const img_position = contribution.img_position;
---

<!-- article 2 -->
<article
  class="transition-all duration-300 w-full group rounded-lg hover:cursor-pointer"
>
  <div class="flex flex-col md:flex-row">
    <!-- image -->
    <div class="md:hidden overflow-hidden w-full">
      <img
        src={cover_image}
        alt={title}
        class="rounded-t-lg bg-xephas-navy/5 md:rounded-l-none md:rounded-r-lg h-96 w-full object-cover"
      />
    </div>

    <!-- contents -->
    <div
      class="transition-all md:w-2/3 duration-300 pl-4 pr-4 flex-col p-3 border md:rounded-l-lg md:rounded-r-none rounded-b-lg content-center border-xephas-navy bg-xephas-navy/5 group-hover:border-opacity-100 border-opacity-5 items-start justify-between text-left"
    >
      <header>
        <!-- tags -->
        <ArticleTags tags={categories} location={location} />

        <!-- title -->
        <div class="mt-2">
          <h1
            class="mt-2 text-4xl group-hover:text-xephas-navy font-bold group-hover:underline group-hover:font-extrabold"
          >
            {title}
          </h1>
          <p
            class="mt-2 text-md text-xephas-blue group-hover:text-xephas-black font-bold"
          >
          <time>{date}</time>
          </p>
        </div>
      </header>

      <!-- description -->
      <div class="mt-2 text-sm">
        <p>
          {description}
        </p>
      </div>

      <!-- footer -->
      <ArticleFooter contribution={contribution} />
    </div>

    <!-- image -->
    <div class="w-full overflow-hidden md:w-1/3">
      <img
        src={cover_image}
        alt={title}
        />
        <!-- class=`hidden md:block bg-xephas-navy/5 rounded-t-lg md:rounded-l-none md:rounded-r-lg w-full md:h-full object-cover  ${img_position}` -->
    </div>
  </div>
</article>
