---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import NavBar from "../components/NavBar.astro";
import { coverImage, description, codeName, title } from "../scripts/constants";

// variables
// Access passed-in component props, like `<X title="Hello, World" />`
const {
  pageTitle = title,
  header: headingText = title,
  pageUrl = "/",
  pageDescription = description,
  pageCoverImage = coverImage,
} = Astro.props;

// if we are not on home page, add the code name to the page title
const isHome = pageUrl === "/";
const newPageTitle = isHome ? pageTitle : pageTitle + " | " + codeName;
---

<!doctype html>
<html lang="en">
  <Head
    pageTitle={newPageTitle}
    pageCoverImage={pageCoverImage}
    pageDescription={pageDescription}
  />
  <body class="font-mont bg-xephas-bg text-black">
    <!-- site layout -->
    <section
      class="flex flex-col min-h-screen justify-between h-full space-y-10"
    >
      <!-- nav bar -->
      <NavBar pageUrl={pageUrl} , isDefault={true} />

      <!-- Some spacing for visual alignment -->
      <div class="mt-5 sm:mt-96"></div>
      <div class="mt-5 sm:mt-96"></div>

      <!-- main -->
      <main class="px-4 mx-auto lg:px-40 h-str">
        <div
          class="flex flex-col space-y-4 w-full h-full items-center justify-center"
        >
          <!-- heading -->
          {
            isHome ? (
              ""
            ) : (
              <h1 class="mb-2 text-4xl font-extrabold text-xephas-navy text-center">
                {headingText}
              </h1>
            )
          }
          <!-- use slot, to insert page contents here-->
          <slot />
        </div>
      </main>

      <!-- footer -->
      <!-- this is how we pass in booleans {true or false} -->
      <Footer isDefault={true} />

      <!-- close -->
    </section>
    <!-- end layout -->

    <!-- App Scripts -->

    <!-- Firebase Scripts -->
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-analytics.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyBqLGG656obraE1lKkTIOrJH6EQzLrDZyM",
        authDomain: "xephasme.firebaseapp.com",
        projectId: "xephasme",
        storageBucket: "xephasme.appspot.com",
        messagingSenderId: "319248268150",
        appId: "1:319248268150:web:6dccd45af1f8d396eed857",
        measurementId: "G-R5G40ZN9CM",
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);
    </script>

    <!-- Install PWA Script -->
  </body>
</html>
